src/main/mule/secure-config-properties-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="secure-properties-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" protocol="HTTP">
<!--             <tls:context> -->
<!--                 <tls:key-store type="jks" path="keystore.jks" keyPassword="${secure::keystore.password}" password="${secure::keystore.keyPassword}" /> -->
<!--             </tls:context> -->
        </http:listener-connection>
    </http:listener-config>
    <apikit:config name="secure-properties-api-config" api="secure-properties-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <file:config name="File_Config" doc:name="File Config" doc:id="17a4b774-2a13-4ac3-be1c-22f25c0ea68e" />
    <flow name="secure-properties-api-main">
        <http:listener config-ref="secure-properties-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="secure-properties-api-config" doc:description="ds" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Bad request"]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Resource not found"]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Method not allowed"]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Not acceptable"]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Unsupported media type"]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Not Implemented"]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d6208fc2-9e79-4751-a02a-287399641907" type="APP:ENCRYPT_ERROR">
                <ee:transform doc:name="Transform Message" doc:id="c187fecd-7a40-4d7f-9b2d-1ac3ca95489c">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
error.description]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[422]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
                        
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3733a8c3-df55-4a53-8f6c-e4d1f9ff775c">
                <ee:transform doc:name="Transform Message" doc:id="a022a5c1-a684-4df0-979f-6e4cc416e8a4">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
error.description]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="secure-properties-api-console">
        <http:listener config-ref="secure-properties-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="secure-properties-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd  http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Resource not found"]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="secure-properties-apiFlow" doc:id="1fe26673-f5ac-45d3-8df0-dbfaa46cca94">
        <http:listener doc:name="Listener" doc:id="6fa9aad9-3ef6-4f6c-9e95-ecb18a81d07d" config-ref="secure-properties-api-httpListenerConfig" path="/" />
        <parse-template doc:name="index.html" doc:id="af5249f0-e9aa-4877-b482-d08b9b058be9" location="frontend\index.html" />
    </flow>
	<flow name="post:\string:multipart\form-data:secure-properties-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="e74daed2-148c-4e2b-8cb8-4ee5dcd47071" />
        <ee:transform doc:name="DW Fetch Form Data to Vars" doc:id="789dd4db-6bf1-4ce1-a70a-b561c69e2813">
	<ee:message>
	</ee:message>
	<ee:variables>
			<ee:set-variable variableName="operation"><![CDATA[%dw 2.0
output application/java
---
payload.parts.operation.content]]></ee:set-variable>
		<ee:set-variable variableName="algorthim"><![CDATA[%dw 2.0
output application/java
---
payload.parts.algorithm.content]]></ee:set-variable>
		<ee:set-variable variableName="mode"><![CDATA[%dw 2.0
output application/java
---
payload.parts.mode.content]]></ee:set-variable>
		<ee:set-variable variableName="key"><![CDATA[%dw 2.0
output application/java
---
payload.parts.key.content]]></ee:set-variable>
		<ee:set-variable variableName="value"><![CDATA[%dw 2.0
output application/java
---
payload.parts.value.content]]></ee:set-variable>
		<ee:set-variable variableName="processing_folder"><![CDATA[%dw 2.0
output application/java
---
p("app.home") ++ "/processing_space"]]></ee:set-variable>
</ee:variables>
</ee:transform>
        <java:new doc:name="SecurePropertiesWrapper()" doc:id="4462a417-6a11-4b66-993f-a0435c734d3b" class="com.dejim.SecurePropertiesWrapper" constructor="SecurePropertiesWrapper()" />
        <java:invoke doc:name="secureString" doc:id="99b0131d-d336-4102-8778-7fbf8b16991c" instance="#[payload]" class="com.dejim.SecurePropertiesWrapper" method="secureString(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
            <java:args><![CDATA[#[output application/java
---
{
	arg0: vars.processing_folder,
	arg1: vars.operation,
	arg2: vars.algorthim,
	arg3: vars.mode,
	arg4: vars.key as String,
	arg5: vars.value
}]]]></java:args>
        </java:invoke>
        <try doc:name="Try" doc:id="6a4f7569-d21a-4a27-86da-49bc10a8267d">
            <validation:is-false doc:name="Is false" doc:id="a233c39e-29a1-4a1f-b161-9020f86ec205" expression="#[payload startsWith(&quot;Invalid&quot;)]" />
            <error-handler>
                <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="614b03d4-ac49-4eda-9fec-09c6f69779f3">
                    <raise-error doc:name="Raise error" doc:id="f0c52349-97f0-4a0e-b1ce-0d1aa98833c6" type="APP:ENCRYPT_ERROR" description="#[&quot;Error encrypting file: &quot; ++ payload]" />
                </on-error-propagate>
            </error-handler>
        </try>
        <ee:transform doc:name="DW Set Payload" doc:id="81201ada-6ff2-488d-afe1-29cbb25612f7">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	property: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="post:\file:multipart\form-data:secure-properties-api-config">
        <logger level="INFO" message="post:\file:multipart\form-data:secure-properties-api-config" />
        <ee:transform doc:name="DW Fetch Form Data to Vars" doc:id="14ada2d8-12ed-4c45-8e38-806e75fda488">
	<ee:message>
	</ee:message>
	<ee:variables>
			<ee:set-variable variableName="operation"><![CDATA[%dw 2.0
output application/java
---
payload.parts.operation.content]]></ee:set-variable>
		<ee:set-variable variableName="algorthim"><![CDATA[%dw 2.0
output application/java
---
payload.parts.algorithm.content]]></ee:set-variable>
		<ee:set-variable variableName="mode"><![CDATA[%dw 2.0
output application/java
---
payload.parts.mode.content]]></ee:set-variable>
		<ee:set-variable variableName="key"><![CDATA[%dw 2.0
output application/java
---
payload.parts.key.content]]></ee:set-variable>
		<ee:set-variable variableName="outputfile"><![CDATA[%dw 2.0
output application/java
---
payload.parts.outputFile.content]]></ee:set-variable>
		<ee:set-variable variableName="inputFile"><![CDATA[%dw 2.0
output application/java
---
payload.parts.inputFile.content]]></ee:set-variable>
		<ee:set-variable variableName="inputFileName"><![CDATA[%dw 2.0
output application/java
---
payload.parts.fileName.content ]]></ee:set-variable>
		<ee:set-variable variableName="fileExt"><![CDATA[%dw 2.0
output application/java
---
splitBy(payload.parts.fileName.content as String,".")[-1]]]></ee:set-variable>
		<ee:set-variable variableName="processing_folder"><![CDATA[%dw 2.0
output application/java
---
p("app.home") ++ "/processing_space"]]></ee:set-variable>
	</ee:variables>
</ee:transform>
        <file:write doc:name="input file" doc:id="f73c2fb6-c040-4569-a44b-1885c5079a9d" config-ref="File_Config" path='#[vars.processing_folder ++ "/" ++ vars.inputFileName]'>
            <file:content><![CDATA[#[payload.parts.inputFile.content]]]></file:content>
        </file:write>
        <java:new doc:name="SecurePropertiesWrapper()" doc:id="becd6d44-9ad4-4711-95e6-8f8ba7945c91" class="com.dejim.SecurePropertiesWrapper" constructor="SecurePropertiesWrapper()" />
        <java:invoke doc:name="secureFile" doc:id="ee6772ed-aeb4-4ee9-a392-b42d5723cb88" instance="#[payload]" class="com.dejim.SecurePropertiesWrapper" method="secureFile(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
            <java:args><![CDATA[#[output application/java
---
{
	arg0: vars.processing_folder,
	arg1: vars.operation,
	arg2: vars.algorthim,
	arg3: vars.mode,
	arg4: vars.key,
	arg5: vars.processing_folder ++ "/" ++ vars.inputFileName,
	arg6: vars.outputfile ++ "." ++ vars.fileExt
}]]]></java:args>
        </java:invoke>
        <flow-ref doc:name="set-output-file-and-headers-subflow" doc:id="fd3494c6-cb81-4924-a06b-783a71ab76ce" name="set-output-file-and-headers-subflow"/>
    </flow>
    <flow name="post:\file-level:multipart\form-data:secure-properties-api-config">
        <logger level="INFO" message="post:\file-level:multipart\form-data:secure-properties-api-config" />
        <ee:transform doc:name="DW Fetch Form Data to Vars" doc:id="651d95bd-4354-44fe-bbe8-064f00a8c882">
	<ee:message>
	</ee:message>
	<ee:variables>
			<ee:set-variable variableName="operation"><![CDATA[%dw 2.0
output application/java
---
payload.parts.operation.content]]></ee:set-variable>
		<ee:set-variable variableName="algorthim"><![CDATA[%dw 2.0
output application/java
---
payload.parts.algorithm.content]]></ee:set-variable>
		<ee:set-variable variableName="mode"><![CDATA[%dw 2.0
output application/java
---
payload.parts.mode.content]]></ee:set-variable>
		<ee:set-variable variableName="key"><![CDATA[%dw 2.0
output application/java
---
payload.parts.key.content]]></ee:set-variable>
		<ee:set-variable variableName="outputfile"><![CDATA[%dw 2.0
output application/java
---
payload.parts.outputFile.content]]></ee:set-variable>
		<ee:set-variable variableName="inputFile"><![CDATA[%dw 2.0
output application/java
---
payload.parts.inputFile.content]]></ee:set-variable>
		<ee:set-variable variableName="inputFileName"><![CDATA[%dw 2.0
output application/java
---
payload.parts.fileName.content ]]></ee:set-variable>
		<ee:set-variable variableName="fileExt"><![CDATA[%dw 2.0
output application/java
---
splitBy(payload.parts.fileName.content as String,".")[-1]]]></ee:set-variable>
		<ee:set-variable variableName="processing_folder"><![CDATA[%dw 2.0
output application/java
---
p("app.home") ++ "/processing_space"]]></ee:set-variable>
	</ee:variables>
</ee:transform>
        <file:write doc:name="input file" doc:id="b52120c7-f225-4bf7-af46-934d066c6803" config-ref="File_Config" path='#[vars.processing_folder ++ "/" ++ vars.inputFileName]'>
            <file:content><![CDATA[#[payload.parts.inputFile.content]]]></file:content>
        </file:write>
        <java:new doc:name="SecurePropertiesWrapper()" doc:id="076629d4-d44b-438d-863e-58e9d847120f" class="com.dejim.SecurePropertiesWrapper" constructor="SecurePropertiesWrapper()" />
        <java:invoke doc:name="secureFileLevel" doc:id="03ae584f-ea47-4dee-a011-3866ddc3e3a3" instance="#[payload]" class="com.dejim.SecurePropertiesWrapper" method="secureFileLevel(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
            <java:args><![CDATA[#[output application/java
---
{
	arg0: vars.processing_folder,
	arg1: vars.operation,
	arg2: vars.algorthim,
	arg3: vars.mode,
	arg4: vars.key,
	arg5: vars.processing_folder ++ "/" ++ vars.inputFileName,
	arg6: vars.outputfile ++ "." ++  vars.fileExt
}]]]></java:args>
        </java:invoke>
<flow-ref doc:name="set-output-file-and-headers-subflow" doc:id="3225516f-b824-41c1-8e18-022c6a8d5e1d" name="set-output-file-and-headers-subflow" />
    </flow>
	<flow name="post:\change-env:multipart\form-data:secure-properties-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="d46c8e83-ae34-436a-9c0e-80798efffa00" message="post:\change-env:multipart\form-data:secure-properties-api-config" />
		<ee:transform doc:name="Fetch Form Data to Vars" doc:id="2e7c157a-8428-4750-bc43-368352e67610">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="algorthim" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.algorithm.content]]></ee:set-variable>
				<ee:set-variable variableName="mode" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.mode.content]]></ee:set-variable>
				<ee:set-variable variableName="oldkey" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.oldkey.content]]></ee:set-variable>
				<ee:set-variable variableName="newkey" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.newkey.content]]></ee:set-variable>
				<ee:set-variable variableName="outputfile" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.outputFile.content]]></ee:set-variable>
				<ee:set-variable variableName="inputFile" ><![CDATA[%dw 2.0
output application/java
---
payload.parts.inputFile.content]]></ee:set-variable>
				<ee:set-variable variableName="fileExt" ><![CDATA[%dw 2.0
output application/java
---
splitBy(payload.parts.fileName.content as String,".")[-1]]]></ee:set-variable>
				<ee:set-variable variableName="processing_folder" ><![CDATA[%dw 2.0
output application/java
---
p("app.home") ++ "/processing_space"]]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
		<file:write doc:name="Input File" doc:id="41ba3ccc-b13b-4226-8415-9400177ce2ad" config-ref="File_Config" path='#[vars.processing_folder ++ "/input_file." ++ vars.fileExt]'>
			<file:content><![CDATA[#[vars.inputFile]]]></file:content>
		</file:write>
		<java:new doc:name="SecurePropertiesWrapper()" doc:id="946b616c-fbf3-4292-b4fe-48cf7585ee2d" class="com.dejim.SecurePropertiesWrapper" constructor="SecurePropertiesWrapper()"/>
		<java:invoke doc:name="changeEnvforFile" doc:id="9ab2dc32-543b-4178-9806-936d5fd6290b" instance="#[payload]" class="com.dejim.SecurePropertiesWrapper" method="changeEnvforFile(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[output application/java
---
{
	algorithm: vars.algorthim,
	mode: vars.mode,
	oldKey: vars.oldkey,
	newKey: vars.newkey,
	inputFilePath: vars.processing_folder ++ "/input_file." ++ vars.fileExt,
	outputFilePath: vars.processing_folder ++ "/" ++ vars.outputfile ++ "." ++ vars.fileExt
}]]]></java:args>
		</java:invoke>
		<flow-ref doc:name="set-output-file-and-headers-subflow" doc:id="6eacc700-23e8-411e-8995-9bef4d5ff9e4" name="set-output-file-and-headers-subflow"/>
    </flow>
	<sub-flow name="set-output-file-and-headers-subflow" doc:id="e4ba2de9-997f-4487-9a72-6fb0abc7cba4" >
		<try doc:name="Try" doc:id="47699605-1fcc-431c-8f61-a8918cc4dcfe">
            <validation:is-false doc:name="Is false" doc:id="9cfe8f67-a525-43b0-8a7e-9451d5b1345a" expression='#[(lower(payload) contains("error")) or (payload startsWith("Invalid"))]' />
            <error-handler>
                <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="99b51bb3-ad03-4e48-b704-d9d4cf58eb5d">
                    <raise-error doc:name="Raise error" doc:id="b63f0cf2-e266-4420-bf5d-b55ae8db0f1d" type="APP:ENCRYPT_ERROR" description="#[&quot;Error encrypting file: &quot; ++ payload]" />
                </on-error-propagate>
            </error-handler>
        </try>
		<ee:transform doc:name="DW set outbound headers" doc:id="f94c04cc-13cd-4755-a44f-e3ee63be038b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/java
---
(vars.outboundHeaders default {}) 
++ 
{
	"Content-Disposition": "attachment; filename=" ++ vars.outputfile ++ "." ++ vars.fileExt,
	"Content-Type": "application/octet-stream"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:read doc:name="Output File" doc:id="13109b0f-ecd0-478d-b8f0-578e3f0d89ec" path='#[vars.processing_folder ++ "/" ++ vars.outputfile ++ "." ++ vars.fileExt]' outputMimeType="application/octet-stream" config-ref="File_Config" />
		<async doc:name="Async" doc:id="c236ff09-6269-4372-bbbf-47e3742bd444" >
			<flow-ref doc:name="file-cleanup-flow" doc:id="e3302581-f77b-42a4-9c89-3d79571f2932" name="file-cleanup-flow"/>
		</async>
	</sub-flow>
	<flow name="file-cleanup-flow" doc:id="cbd63402-ad84-4275-a796-4ae527439670">
		<scheduler doc:name="for file cleanup every hour" doc:id="27aee0ce-3680-4978-97ff-ace63760c216">
			<scheduling-strategy>
				<fixed-frequency frequency="1" startDelay="1" timeUnit="HOURS" />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="b4dbc4bb-f1cb-4363-84a5-9b34466136b5" message="Started File Cleanup" />
		<file:list doc:name="File in Folder" doc:id="2ce6432f-ecb8-4ad0-a06f-c815fbcf4c5d" config-ref="File_Config" directoryPath='#[p("app.home") ++ "/processing_space"]'>
			<file:matcher notUpdatedInTheLast="5" timeUnit="MINUTES" />
		</file:list>
		<foreach doc:name="For Each" doc:id="05dc8837-5648-4168-a034-34930e80e261" collection="#[payload]">
			<choice doc:name="skip jar file" doc:id="ad05f6ad-5d2d-4f48-a34a-28d780b4628c">
				<when expression='#[attributes.fileName != "secure-properties-tool.jar"]'>
					<logger level="INFO" doc:name="Logger" doc:id="3b2df8ee-d128-4e5b-b67d-02b0ad1aeb4f" message='#["Deleting - " ++ attributes.fileName]' />
					<file:delete doc:name="files" doc:id="0fa20966-4fcc-4af8-aecd-9ed90683520c" config-ref="File_Config" path="#[attributes.path]" />
				</when>
			</choice>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="44edb859-585c-4f7e-8cb6-03d9fb2cde44" message="Finished File Cleanup" />
	</flow>
</mule>
